services:
  db:
    extends:
      file: ${COMPOSE_EXTENDS_PATH}
      service: db

  flyway:
    extends:
      file: ${COMPOSE_EXTENDS_PATH}
      service: flyway

  backend:
    extends:
      file: ${BACKEND_EXTENDS_PATH}
      service: backend

  frontend:
    build:
      context: .
      args:
        REACT_APP_API_URL: http://localhost:${BACKEND_LOCAL_PORT}/api/v1
    image: image-front-cafe-dev:latest
    container_name: container-front-cafe-dev
    ports:
      - "${FRONTEND_LOCAL_PORT}:${FRONTEND_CONTAINER_PORT}"
    networks:
      - cafenet
    depends_on:
      - backend

networks:
  cafenet:
    name: cafenet
