@use '../../style/variables' as *;

.hero {
  position: relative;
  width: 100%;
  
  height: 571px;
  margin: 64px 0 128px;
  z-index: 10; 
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  border-radius: 32px;
  
  z-index: -1; 
}

.content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: $grey-90;
  font-weight: 500;
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
  line-height: 115%;
  
  span {
    text-transform: uppercase;
    font-weight: bold;
  }
}