@font-face {
  font-family: Oswald;
  src: url('/public/fonts/Oswald-Medium.ttf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Noto Sans;
  src: url('/public/fonts/NotoSans-Black.ttf') format('opentype');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: Noto Sans;
  src: url('/public//fonts/NotoSans-SemiBold.ttf') format('opentype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Noto Sans;
  src: url('/public/fonts/NotoSans-Regular.ttf') format('opentype');
  font-style: normal;
  font-weight: 400;
}


