$primary-color: #752100;
$grey-100: #FFFFFF;
$grey-90: #FFFBF9;
$grey-80: #F4EFEC;
$grey-70: #D6D1CE;
$grey-60: #A7A4A2;
$grey-40: #6E6763;
$grey-20: #433E3B;
$grey-10: #1F0D01;
$grey-0: #0F0600;
$error-color: #BB0F40;
$success-color: #087B00;