@use '../../style/variables' as *;

.searchBlock {
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 1037px;
  height: 54px;
  align-items: center;
}

.inputWrapper {
  flex-grow: 1;
  background-color: $grey-100;
  border-radius: 46px;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  height: 100%;
  border: 1px solid $grey-20; 
}

.inputIcon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  flex-shrink: 0;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
  font-family: 'Noto Sans', sans-serif;
  color: $grey-60;
  background: transparent;
}

.searchBtn {
  background-color: $grey-100;
  border: none;
  border-radius: 46px;
  padding: 0 47px;
  height: 100%;  
  cursor: pointer;
  border: 1px solid $grey-20; 

  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  line-height: 135%;
  font-weight: 600;
}

.filterBtn {
  height: 100%;
  width: 54px; 
  padding: 0 17px;
  border-radius: 46px;
  flex-shrink: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $grey-100;
  border: 1px solid $grey-20; 
}

.filterIcon {
  width: 32px;
  height: 32px;
}