@use '../../style/variables' as *;

.searchBlock {
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 1037px;
  height: 54px;
  align-items: center;
  
  z-index: 1001; 
  transition: all 0.3s ease-in-out;

  box-sizing: border-box;

  &.small {
    height: 44px;      
    max-width: 1037px;  
    gap: 10px;     

    .inputWrapper {
      padding: 0 16px;
    }

    .inputIcon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }

    .input {
      font-size: 18px;
    }

    .searchBtn {
      font-size: 18px;
      padding: 6px 46px;
    }

    .filterBtn {
      width: 64px;
      height: 44px;
      padding: 0;
    }

    .filterIcon {
      width: 32px;
      height: 32px;
    }
  }
}

.inputWrapper {
  position: relative;
  flex-grow: 1;
  
  background-color: $grey-100;
  border: 1px solid $grey-60;
  
  border-radius: 46px;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  height: 54px;
  transition: all 0.2s ease;
  z-index: 1002;

  box-sizing: border-box;
  height: 100%;

  &.open {
    background-color: $grey-100;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
  }
}

.inputIcon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
  font-family: 'Noto Sans', sans-serif;
  
  color: $grey-60;
  
  background: transparent;
  transition: font-size 0.3s ease;
}

.searchBtn {
  background-color: $grey-100;
  border: 1px solid $grey-60;
  
  border-radius: 48px;
  padding: 0 47px;
  height: 100%;  
  cursor: pointer;
  
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  line-height: 135%;
  font-weight: 600;
  transition: all 0.3s ease;

  height: 100%; 
  box-sizing: border-box;

}

.filterBtn {
  height: 100%;
  box-sizing: border-box;
  width: 64px; 
  padding: 0 17px;
  
  border: 1px solid $grey-60;
  background-color: $grey-100;
  
  border-radius: 46px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filterIcon {
  width: 32px;
  height: 32px;
  transition: all 0.3s ease;
}

.dropdown {
  position: absolute;
  top: calc(100% + 2px); 
  left: -1px; 
  width: calc(100% + 2px); 
  min-height: 291px;
  
  background-color: $grey-100;
  
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  
  border: 1px solid $grey-60;
  border-top: none; 
  
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  
  margin-top: -1px;
  z-index: 1001; 

  &::before {
    content: '';
    position: absolute;
    top: 0;

    left: 24px;  
    right: 24px; 
    
    height: 1px; 
    background-color: $grey-60;
    z-index: 10;
  }
}

.columnLeft {
  flex: 1;
  padding: 24px 37px 40px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 0; 
    top: 24px; 
    bottom: 24px; 
    width: 1px; 
    background-color: $grey-60; 
  }
}

.columnRight {
  padding: 24px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sectionTitle {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  color: $grey-50;
  font-weight: 400;
}

.headerLink {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  
  color: $grey-20;
  width: 226px;
  height: 24px;
  
  cursor: pointer;
  border-radius: 5px;
  
  &:hover {
    box-shadow: 0 0 0 5px $primary-90;
    background-color: $primary-90; 
  }

  &:active {
    box-shadow: 0 0 0 5px $primary-95;
    background-color: $primary-95;
  }
}

.arrowIcon {
  width: 24px;
  height: 24px;
  margin-left: auto;
  display: block;
}

.resultItem {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 5px $primary-90;
    background-color: $primary-90; 
  }

  &:active {
    box-shadow: 0 0 0 5px $primary-95;
    background-color: $primary-95;
  }
}

.pinIcon {
  width: 24px;
  height: 24px;
  margin-top: 2px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
}

.itemName {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  
  color: $grey-20;
}

.itemAddress {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 130%;
  
  color: $grey-40;
}

.citiesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 24px;
}

.cityItem {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    box-shadow: 0 0 0 5px $primary-90;
    background-color: $primary-90; 
  }

  &:active {
    box-shadow: 0 0 0 5px $primary-95;
    background-color: $primary-95;
  }
}

.cityImg {
  width: 76px;
  height: 47px;
  border-radius: 1px;
  object-fit: cover;
}

.cityInfo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 4px;
}

.cityName {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  
  color: $grey-20;
}

.cityCount {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 14px;
  
  color: $grey-50;
  
  line-height: 130%;
}

.message {
  padding: 20px 0;
  text-align: center;
  
  color: $grey-60;
  
  font-style: italic;
  font-family: 'Noto Sans', sans-serif;
}
