@use '../../style/variables' as *;

.footer {
  width: 100%;
  padding-inline: 24px;
  padding-block: 32px;
  background-color: $grey-90;
  border-bottom: 1px solid $grey-70;
  font-family: Noto Sans;
  border: 1px solid #D6D1CE;
}

.continer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;

}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 253px;
  height: 22px;
  text-decoration: none;
  font-style: 16px;
  line-height: 135%;
  color: $grey-40;
  font-weight: 400;
  outline: none;
  border-radius: 4px;

  &:focus-visible {
    outline: 2px solid $grey-40;
    outline-offset: 2px;
  }
}

.copyright {
  display: flex;
  font-size: 18px;
  line-height: 135%;
  font-weight: 600;
  justify-content: center;
  color: $grey-20;
}
