@use './style/variables' as *;
@use './style/reset' as *;
@use './style/fonts' as *;

.App {
  font-family: 'Noto Sans', 'Oswald', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  width: 100%;
  max-width: 1392px;
  margin: 0 auto;
  padding-inline: 24px;
  box-sizing: border-box;
}