@use '../../style/variables' as *;

.section {
  width: 100%;
  margin-bottom: 64px;
}

.title {
  font-family: Oswald;
  font-weight: 500;
  font-size: 32px;
  line-height: 115%;
  color: $grey-20;
  padding-bottom: 32px; 
}

.carouselWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.track {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 4px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.navBtn {
  position: absolute;
  top: 175px; 
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: 1px solid $grey-60;
  background-color: #FFFFFFCC;
  border-radius: 25px;
  cursor: pointer;
  z-index: 2;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 0.3s ease, visibility 0.3s ease;

  &:disabled {
    opacity: 0;           
    visibility: hidden;
    cursor: default;
    pointer-events: none
  }

  &:focus-visible:not(:disabled) {
    outline: 2px solid $grey-40;
    outline-offset: 2px;
  }

  &.prev {
    left: -24px;
  }

  &.next {
    right: -24px;
  }
}

.arrowIcon {
  width: 31px;
  height: 31px;
  display: block;
  object-fit: contain;
}
