name: Deploy fronetnd

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      branch:
        description: 'Select branch to deploy'
        required: true
        default: 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Login to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
            --build-arg REACT_APP_API_URL=http://a5ebee413351c4d3c813802be3f62648-1994074749.us-east-1.elb.amazonaws.com/cafe-back/api/v1 \
            -t kenu21/image-front-cafe-prod:${{ github.sha }} \
            -t kenu21/image-front-cafe-prod:latest .

      - name: Push Docker image
        run: |
          docker push kenu21/image-front-cafe-prod:${{ github.sha }}
          docker push kenu21/image-front-cafe-prod:latest

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Set up Kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 --decode > $HOME/.kube/config

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1

      - name: Update Helm dependencies
        run: |
          helm dependency update ./frontend-cafe

      - name: Deploy frontend
        run: |
          helm upgrade --install frontend-cafe ./frontend-cafe \
            --namespace ingress-nginx \
            --create-namespace \
            --set frontCafe.image.tag=${{ github.sha }}
