name: Deploy fronetnd

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      branch:
        description: 'Select branch to deploy'
        required: true
        default: 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Login to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
            --build-arg REACT_APP_API_URL=http://aa0059100549f4ddba101319275ed534-554976623.us-east-1.elb.amazonaws.com/cafe-back/api/v1 \
            -t kenu21/cafe-front-prod-image:${{ github.sha }} \
            -t kenu21/cafe-front-prod-image:latest .

      - name: Push Docker image
        run: |
          docker push kenu21/cafe-front-prod-image:${{ github.sha }}
          docker push kenu21/cafe-front-prod-image:latest

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Set up Kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 --decode > $HOME/.kube/config

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1

      - name: Add ingress-nginx Helm repo
        run: |
          helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
          helm repo update

      - name: Deploy Ingress Controller
        run: |
          helm upgrade --install ingress-nginx ingress-nginx/ingress-nginx \
            --namespace ingress-nginx \
            --create-namespace \
            --version 4.14.0

      - name: Update Helm dependencies
        run: |
          helm dependency update ./frontend-cafe

      - name: Deploy frontend
        run: |
          helm upgrade --install frontend-cafe ./frontend-cafe \
            --set frontCafe.containers.image.tag=${{ github.sha }}
